@import de.htwg.se.battleship.model.Player
@import de.htwg.se.battleship.controller.Controller
@import de.htwg.se.battleship.model.Point
@(con: Controller, currentPlayer: Player)


<!DOCTYPE html>

@main("Welcome to the Game") {
    <div class="gameHeader">
        <span>set your ships @{currentPlayer.COLOR}</span>
        <button id="verticalButton" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
            V
        </button>
        <button id="horizontalButton" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
            H
        </button>
        <span>XXXXX : @(currentPlayer.shipInventory.get(5))</span>
        <span>XXXX : @(currentPlayer.shipInventory.get(4))</span>
        <span>XXX : @(currentPlayer.shipInventory.get(3))</span>
        <span>XX : @(currentPlayer.shipInventory.get(2))</span>
        <span>X: @(currentPlayer.shipInventory.get(1))</span>
    </div>

    <div class="container-fluid gameContainer">

    @for(row <- 1 to con.fieldSize) {
        <div class="row">
        @for(col <- 1 to con.fieldSize) {

            <button class="field-card mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            @if(currentPlayer.field.hasShip(Point(col-1,row-1)) ) {
                S
            } else {

            }
            </button>
        }
        </div>
    }
    </div>

    <script src="@routes.Assets.versioned("javascripts/setShips.js")" type="text/javascript"></script>
}